.thumbnail-details-container {
  display: flex;
  margin: 10px;
  margin-bottom: 20px;
}

.thumbnail-container {
  text-decoration: none;
}

@media (min-width: 576px) {
  .thumbnail-container {
    width: 250px;
    margin-right: 20px;
  }
}

.profile-img {
  height: 25px;
}

.video-details-container {
  margin-left: 10px;
}
