.side-bar {
  display: none;
}

@media (min-width: 768px) {
  .side-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 250px;
    height: 90vh;
  }
}

.contact-us-section {
  padding-left: 20px;
}

.contact-us-icons {
  display: flex;
  justify-content: space-between;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}
